<h1>Units</h1>

<ul>
  <% @units.each do |unit| %>
    <li>Unit Name: <%= unit.name %></li>
    <li>Square Footage: <%= unit.square_footage %></li>
    <li>Monthly Rent: <%= unit.monthly_rent %></li>
    <li>Cost Per Square Foot: <%= unit.cost_per_square_foot %></li>
  <% end %>
</ul>
